doctype html
html(ng-app='OwmcApp')
  head
    meta(charset='utf-8')
    title owmc
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='../bower_components/openlayers3/build/ol.css')
    link(rel='stylesheet', href='../styles/main.css')

  body
    .wrapper
      include ../shared/header.jade
      .content-wrapper
        #content-block.container-fluid(ng-view)
          block content
    
    script(type='text/javascript', src='../bower_components/angularjs/angular.min.js')
    script(type='text/javascript', src='../bower_components/angular-route/angular-route.min.js')
    script(type='text/javascript', src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='../bower_components/moment/min/moment-with-locales.min.js')
    script(type='text/javascript', src='../bower_components/angular-sanitize/angular-sanitize.min.js')
    script(type='text/javascript', src='../bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.min.js')
    script(type='text/javascript', src='../bower_components/openlayers3/build/ol.js')
    
    script(type='text/javascript', src='../index.js')
    script(type='text/javascript', src='../controllers/main_controller.js')
    script(type='text/javascript', src='../controllers/sidebar_controller.js')
    script(type='text/javascript', src='../controllers/settings_controller.js')
    script(type='text/javascript', src='../services/open_weather_map.js')
    script(type='text/javascript', src='../services/open_weather_map_api_endpoint.js')
    script(type='text/javascript', src='../directives/weather_icon_directive.js')
