doctype html
html(ng-app='OwmcApp')
  head
    meta(charset='utf-8')
    title owmc
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='../styles/main.css')

  body
    .wrapper
      .sidebar-wrapper(ng-include="'shared/sidebar.html'")
      .content-wrapper
        .container(ng-view)
          block content
    
    script(type='text/javascript', src='../bower_components/angularjs/angular.min.js')
    script(type='text/javascript', src='../bower_components/angular-route/angular-route.min.js')
    script(type='text/javascript', src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    
    script(type='text/javascript', src='../index.js')
