ul.sidebar-nav(ng-controller='SidebarController')
  li.sidebar-brand
    | OWMC

  li
    a(ng-href="#/")
      i.fa.fa-home.fa-lg
      |  Home
  li
    a(ng-href="#/settings")
      i.fa.fa-cog.fa-lg
      |  Settings
