// bootstrap
@font-family-base:          'Lato', sans-serif;
@navbar-height:             36px;
@navbar-default-bg:         #226666;
@navbar-default-link-color: #fff;

// fontawesome
@fa-font-path: '../bower_components/fontawesome/fonts';
// weather-icons
@wi-path:      '../bower_components/weather-icons/font';
