@sidebar-width: 300px;

body {
  #wrapper {
    padding-left: @sidebar-width;
    position: relative;

    .sidebar {
      z-index: 1000;
      position: fixed;
      width: @sidebar-width;
      height: 100%;
      margin-left: -@sidebar-width;
      overflow-y: auto;
    }

    .contents {
      width: 100%;
      height: 100%;
      margin-right: @sidebar-width;
      & > .container-fluid {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
      }
    }
  }
}
