body {
  padding-top: @navbar-height;
  #wrapper {
    margin: 0;
    padding: 0;
    position: relative;

    #map {
      position: absolute;
      width: 100%;
      height: 564px;
      overflow-y: hidden;
    }

    .contents {
      position: relative;
      z-index: 1000;
      #search-box {
        padding: 15px 0;
      }
    }
  }
}
