@charset 'utf-8';

@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/fontawesome/less/font-awesome';
@import '../../bower_components/weather-icons/less/weather-icons';

@import 'custom_variables';
@import 'layout';
@import 'weather';
@import 'map';
@import 'cities';

#search-box {
  position: fixed;
  z-index:  100;
  top: 0;
  margin: 20px;
}
