.sidebar-nav {
  position: absolute;
  top: 0;
  width: @sidebar-width;
  margin: 0;
  padding: 0;

  .sidebar-brand {
    text-align: center;
    color: #fff;
    padding: 32px 0;
    text-shadow: 0 0 8px;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
