.sidebar-nav {
  position: absolute;
  top: 0;
  width: @sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;

  .sidebar-brand {
    height: 65px;
    font-size: 24px;
    line-height: 65px;
    text-align: center;
    color: #fff;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
