div#main-block(ng-cloak)
  .row
    .col-md-12
      {{ weather.name }} ({{ weather.coord.lat }}, {{ weather.coord.lon }})

  .row
    .col-md-12
      {{ weather.weather[0].main }}
      br
      {{ weather.weather[0].description }}

  .row
    .col-md-12
      {{ weather.main.temp }} {{ weather.main.pressure | number }}

  .row
    .col-md-12
      {{ weather.dt*1000 | date }}
    
