div#main-block(ng-cloak)
  #map.row
    openlayers(ol-center="center" height="600px" ng-if="weatherLoaded")

  div(ng-if="weatherLoaded")
    .row
      .col-sm-8(ng-include="'main/weather_details.html'")
