div#main-block(ng-cloak)
  #map.row
    openlayers(ol-center="center" ol-defaults="defaults" height="564px" ng-if="weatherLoaded")
      ol-layer(name="{{layer.name}}", ol-layer-properties="layer", ng-repeat="layer in layers | filter: { active :true }")

  div(ng-if="weatherLoaded")
    .row
      .col-sm-4(ng-include="'main/search_box.html'")
    .row.weather-details
      .col-sm-4(ng-include="'main/weather_details.html'")
