.panel.panel-default.text-center
  .panel-body
    h2 {{ weather.name }},{{ weather.sys.country }}
    p
      i.fa.fa-location-arrow.fa-lg
      | &nbsp;{{ weather.coord.lat }}, {{ weather.coord.lon }}
      br
      | {{ weather.dt*1000 | date:'yyyy-MM-dd HH:mm:ss' }}

    .row
      p
        weather-icon(icon='weather.weather[0].icon')
        h4 {{ weather.weather[0].main }}
        p
          | {{ weather.weather[0].description }}
          br
          | {{ weather.clouds.all }} %

    .row
      p
        i.wi.wi-thermometer.fa-lg
        | &nbsp;{{ weather.main.temp }}
        i.wi.wi-celsius

    .row
      p
        i.wi.wi-humidity.fa-lg
        | &nbsp;{{ weather.main.humidity }}%

    .row
      p
        | {{ weather.main.pressure | number }} hPa

    .row
      .col-sm-12
        | {{ weather.wind.deg }} °
        | {{ weather.wind.speed }} m/s
