@sidebar-width: 200px;
@sidebar-bg:    #ddd;

.wrapper {
  padding-left: 0;
  transition: all 0.5s ease;

  .sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: @sidebar-width;
    width: 0;
    height: 100%;
    margin-left: -@sidebar-width;
    overflow-y: auto;
    background: @sidebar-bg;
    transition: all 0.5s ease;
  }

  .content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }

  &.toggled {
    padding-left: @sidebar-width;
    .sidebar-wrapper {
      width: @sidebar-width;
    }
    .content-wrapper {
      position: absolute;
      margin-right: -@sidebar-width;
    }
  }
}

@media(min-width: 768px) {
  .wrapper {
    padding-left: @sidebar-width;
    .sidebar-wrapper {
      width: @sidebar-width;
    }

    .content-wrapper {
      padding-left: 20px;
      position: relative;
    }

    &.toggled {
      padding-left: 0;

      .sidebar-wrapper {
        width: 0;
      }

      .content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
  }
}
