@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/fontawesome/less/font-awesome';
@import '../../bower_components/weather-icons/less/weather-icons.less';

@fa-font-path: '../bower_components/fontawesome/fonts';
@wi-path:      '../bower_components/weather-icons/font';

@font-family-base: 'Lato', sans-serif;
@navbar-height: 36px;
@navbar-default-bg: #226666;
@navbar-default-link-color: #fff;

@import 'layout.less';

#main-block {
  position: absolute;
  width: 100%;
  #map {
    position: absolute;
    top: 0;
    width: 100%;
    &.row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .weather-search-box {
    margin-bottom: 15px;
  }
  .weather-details {
    .panel-default {
      background: rgba(34,102,102, .75);
      border-color: rgba(34,102,102, .75);
      color: #fff;
    }
  }

  #search-box {
    margin-top: 20px;
  }
}
