ul.sidebar-nav {
  position: absolute;
  top: 0;
  width: @sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 40px;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      &:active,
      &:focus {
        text-decoration: none;
      }
    }

    &.sidebar-brand {
      text-indent: 0;
      height: 100px;
      line-height: 100px;
      font-size:   36px;
      font-weight: bold;
      color: lighten(@sidebar-bg, 32%);
      .text-center();
    }
  }
}
